In [2]:
#Libs
from pyspark.sql import SparkSession
from pyspark.sql import functions as F
import pandas as Pd

In [3]:
#sparkSession
spark = SparkSession.builder.appName("Sessao").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/02/02 14:13:02 WARN Utils: Your hostname, DESKTOP-FBCHK7G, resolves to a loopback address: 127.0.1.1; using 172.19.227.193 instead (on interface eth0)
26/02/02 14:13:02 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/02 14:13:04 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [4]:
#open first file
df_main = spark.read.option("header","True").parquet(f"../data/bronze/bronze_amazon_sales.parquet")

In [5]:
#check schema
df_main.printSchema()

root
 |-- index: integer (nullable = true)
 |-- Order ID: string (nullable = true)
 |-- Date: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Fulfilment: string (nullable = true)
 |-- Sales Channel : string (nullable = true)
 |-- ship-service-level: string (nullable = true)
 |-- Style: string (nullable = true)
 |-- SKU: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- Size: string (nullable = true)
 |-- ASIN: string (nullable = true)
 |-- Courier Status: string (nullable = true)
 |-- Qty: integer (nullable = true)
 |-- currency: string (nullable = true)
 |-- Amount: double (nullable = true)
 |-- ship-city: string (nullable = true)
 |-- ship-state: string (nullable = true)
 |-- ship-postal-code: string (nullable = true)
 |-- ship-country: string (nullable = true)
 |-- promotion-ids: string (nullable = true)
 |-- B2B: boolean (nullable = true)
 |-- fulfilled-by: string (nullable = true)

In [6]:
#check number of registers
df_main.count()

120378

In [7]:
df_main.show(10)

+------+-------------------+--------+---------+----------+--------------+------------------+-------+------------------+--------+----+----------+--------------+---+--------+------+----------------+-------------+----------------+------------+--------------------+-----+------------+
| index|           Order ID|    Date|   Status|Fulfilment|Sales Channel |ship-service-level|  Style|               SKU|Category|Size|      ASIN|Courier Status|Qty|currency|Amount|       ship-city|   ship-state|ship-postal-code|ship-country|       promotion-ids|  B2B|fulfilled-by|
+------+-------------------+--------+---------+----------+--------------+------------------+-------+------------------+--------+----+----------+--------------+---+--------+------+----------------+-------------+----------------+------------+--------------------+-----+------------+
|119095|171-0000547-8192359|06-07-22|  Shipped|    Amazon|     Amazon.in|         Expedited|JNE2032| JNE2032-KR-205-XL|   kurta|  XL|B0768J7VQ1|       Shipped|  1|     INR| 301.0|PIMPRI CHINCHWAD|  MAHARASHTRA|          412101|          IN|                NULL|false|        NULL|
|116211|171-0000902-4490745|06-09-22|Cancelled|    Amazon|     Amazon.in|         Expedited|  J0097|        J0097-KR-M|   kurta|   M|B08BJT3PSM|     Unshipped|  1|     INR| 544.0|          Howrah|  WEST BENGAL|          711104|          IN|                NULL|false|        NULL|
| 91715|171-0005741-2261112|06-29-22|  Shipped|    Amazon|     Amazon.in|         Expedited|  J0373|       J0373-KR-XS|   kurta|  XS|B09KXPXP31|       Shipped|  1|     INR| 558.0|       HYDERABAD|    TELANGANA|          500072|          IN|IN Core Free Ship...|false|        NULL|
| 15029|171-0005999-3189913|04-21-22|  Shipped|    Amazon|     Amazon.in|         Expedited|  J0004|    J0004-SKD-XXXL|     Set| 3XL|B0894X1Q3M|       Shipped|  1|     INR|1115.0|         patiala|       punjab|          147001|          IN|IN Core Free Ship...|false|        NULL|
| 44762|171-0009705-3515534|04-03-22|  Shipped|    Amazon|     Amazon.in|         Expedited|JNE2270|JNE2270-KR-487-A-S|   kurta|   S|B07H7DGF1T|       Shipped|  1|     INR| 499.0|          MUMBAI|  MAHARASHTRA|          400091|          IN|IN Core Free Ship...|false|        NULL|
|106422|171-0011886-1367508|06-16-22|  Shipped|    Amazon|     Amazon.in|         Expedited| SET324|    SET324-KR-NP-S|     Set|   S|B09NQ4CZ65|       Shipped|  1|     INR| 635.0|           DUMKA|    JHARKHAND|          814101|          IN|IN Core Free Ship...|false|        NULL|
| 67817|171-0012413-5164338|05-16-22|  Shipped|    Amazon|     Amazon.in|         Expedited| SET386|    SET386-KR-NP-L|     Set|   L|B09K38ZCR6|       Shipped|  1|     INR| 599.0|        GHAZIPUR|UTTAR PRADESH|          233001|          IN|IN Core Free Ship...|false|        NULL|
| 75692|171-0012414-9949918|05-10-22|Cancelled|    Amazon|     Amazon.in|         Expedited|  BL013|     BL013-62BLACK|  Blouse|Free|B077Z4Z4F7|     Unshipped|  1|     INR| 377.0|         GURGAON|      HARYANA|          122003|          IN|                NULL|false|        NULL|
|114885|171-0012628-8493178|06-10-22|  Shipped|    Amazon|     Amazon.in|         Expedited| SET355|    SET355-KR-PP-S|     Set|   S|B09RKD2Z9T|       Shipped|  1|     INR|1229.0|        HAMIRPUR|UTTAR PRADESH|          210506|          IN|IN Core Free Ship...|false|        NULL|
| 78593|171-0013919-1772325|05-08-22|  Shipped|    Amazon|     Amazon.in|         Expedited|JNE3369|     JNE3369-KR-XS|   kurta|  XS|B081X83TG6|       Shipped|  1|     INR| 405.0|          MUMBAI|  MAHARASHTRA|          400086|          IN|                NULL| true|        NULL|
+------+-------------------+--------+---------+----------+--------------+------------------+-------+------------------+--------+----+----------+--------------+---+--------+------+----------------+-------------+----------------+------------+--------------------+-----+------------+
only showing top 10 rows

##General check in database

In [8]:
lst = [df_main]

for df in lst:
    cols = df.columns

    df_null = df.select([
        F.sum(F.col(c).isNull().cast("integer")).alias(c)
        for c in cols
    ]).show()

+-----+--------+----+------+----------+--------------+------------------+-----+---+--------+----+----+--------------+---+--------+------+---------+----------+----------------+------------+-------------+---+------------+
|index|Order ID|Date|Status|Fulfilment|Sales Channel |ship-service-level|Style|SKU|Category|Size|ASIN|Courier Status|Qty|currency|Amount|ship-city|ship-state|ship-postal-code|ship-country|promotion-ids|B2B|fulfilled-by|
+-----+--------+----+------+----------+--------------+------------------+-----+---+--------+----+----+--------------+---+--------+------+---------+----------+----------------+------------+-------------+---+------------+
|    0|       0|   0|     0|         0|             0|                 0|    0|  0|       0|   0|   0|          6387|  0|    7401|  7401|       28|        28|              28|          28|        46927|  0|       84002|
+-----+--------+----+------+----------+--------------+------------------+-----+---+--------+----+----+--------------+---+--------+------+---------+----------+----------------+------------+-------------+---+------------+

In [9]:
df_analysis = df.select(["Courier Status", "currency","Amount","ship-city","ship-state","ship-country","promotion-ids","fulfilled-by"])

In [11]:
df_analysis_nulls = df_analysis.filter(
    F.col("Courier Status").isNull() |
    F.col("currency").isNull() |
    F.col("Amount").isNull()
)

In [12]:
df_analysis_nulls.show(20)

+--------------+--------+------+--------------------+----------------+------------+-------------+------------+
|Courier Status|currency|Amount|           ship-city|      ship-state|ship-country|promotion-ids|fulfilled-by|
+--------------+--------+------+--------------------+----------------+------------+-------------+------------+
|     Cancelled|    NULL|  NULL|     THANE(W), thane|     MAHARASHTRA|          IN|         NULL|        NULL|
|          NULL|     INR|708.57|              KALWAN|     MAHARASHTRA|          IN|         NULL|   Easy Ship|
|     Cancelled|    NULL|  NULL|             KURNOOL|  ANDHRA PRADESH|          IN|         NULL|        NULL|
|     Cancelled|    NULL|  NULL|             NALBARI|           ASSAM|          IN|         NULL|        NULL|
|          NULL|     INR|336.19|             KOLKATA|     WEST BENGAL|          IN|         NULL|   Easy Ship|
|          NULL|    NULL|  NULL|            VARANASI|   UTTAR PRADESH|          IN|         NULL|   Easy Ship|
|     Cancelled|    NULL|  NULL|              NAMCHI|          SIKKIM|          IN|         NULL|        NULL|
|          NULL|     INR|708.57|             CHENNAI|      TAMIL NADU|          IN|         NULL|   Easy Ship|
|          NULL|     INR| 341.9|               THANE|     MAHARASHTRA|          IN|         NULL|   Easy Ship|
|          NULL|     INR|325.71|               ERODE|      TAMIL NADU|          IN|         NULL|   Easy Ship|
|     Cancelled|    NULL|  NULL|               KOLAR|       KARNATAKA|          IN|         NULL|        NULL|
|          NULL|     INR|615.24|           Hyderabad|       TELANGANA|          IN|         NULL|   Easy Ship|
|     Cancelled|    NULL|  NULL|Kanti Nagar exten...|           DELHI|          IN|         NULL|        NULL|
|          NULL|     INR|313.33|           ERNAKULAM|          KERALA|          IN|         NULL|   Easy Ship|
|     Cancelled|    NULL|  NULL|           Hyderabad|       TELANGANA|          IN|         NULL|        NULL|
|          NULL|    NULL|  NULL|            HAMIRPUR|HIMACHAL PRADESH|          IN|         NULL|   Easy Ship|
|          NULL|    NULL|  NULL|             KURNOOL|  ANDHRA PRADESH|          IN|         NULL|   Easy Ship|
|     Cancelled|    NULL|  NULL|         RECKONG PEO|HIMACHAL PRADESH|          IN|         NULL|        NULL|
|     Cancelled|    NULL|  NULL|             Chennai|      TAMIL NADU|          IN|         NULL|        NULL|
|     Cancelled|    NULL|  NULL|          Moodubelle|       KARNATAKA|          IN|         NULL|        NULL|
+--------------+--------+------+--------------------+----------------+------------+-------------+------------+
only showing top 20 rows